/image/*
!/image/chroot/
!/image/bleux.seed
!/image/build
!/image/customize
/packages/*/*.buildinfo
/packages/*/*.changes
/packages/*/*.deb
/packages/bleux-release/os-release
/repository/*
!/repository/build
